body {
  font-family: "montserrat", sans-serif, Verdana, Tahoma;
}

.carousel-caption {
  margin: 8rem;
  font-weight: bolder;
  text-shadow: 5px 5px 10px #000;
  position: absolute;
  z-index: 1;
}

#about {
  text-align: center;
}

.heading {
  margin: 2%;
  font-weight: 600;
  text-align: center;
}

#team {
  padding: 3% 7%;
  text-align: center;
}

.team-img {
  width: 300px;
  height: 300px;
}

.about-text {
  line-height: 1.5;
  padding: 6% 8%;
  font-weight: 500;
  color: #fff;
}

#testimonials {
  color: #fff;
  padding: 3% 7%;
  text-align: center;
}

.about-text,
#testimonials {
  background-color: #3282b8;
}

.testimonial-img {
  width: 18%;
  border-radius: 100%;
}

.testimonial-name {
  margin-top: 2%;
}

.testimonial-text {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .carousel-caption {
    margin: 0;
  }

  #about {
    top: 20rem;
  }

  .team-img {
    height: 200px;
    width: 200px;
  }

  .about-text {
    font-size: 1rem;
  }

  .testimonial-text {
    font-size: 15px;
  }

  .testimonial-img {
    width: 40%;
  }
}

.icon-link {
  margin: 2% 1%;
  color: #000;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-caption {
    margin: 5rem;
  }

  .team-img {
    height: 200px;
    width: 200px;
  }
}
